/*-----------------------FONT */

@import url('https://fonts.googleapis.com/css?family=Creepster:100,200,300,400,500,600,700|Oswald&display=swap:100,200,300,400,500,600,700');

/*-----------------------SPECIAL MARGINS/HEADINGS/TEXT */

body, html {
    background-color: #1E1E24;
    color: #FFF8F0;
    height: 100%;
    margin:0;
    padding:0;
}

.nav-brand, .header, .animated-button {
    font-family: 'Creepster', sans-serif;
    font-size: 2rem;
}

.section-title {
    font-family: 'Creepster', sans-serif;
    font-size: 5rem;
    padding-top: 80px; /*---ScrollSpy navigation was previously blocking the headings with navbar---*/
}

p .nav-link {
    font-family: 'Oswald', sans-serif;
}

/*-----------------------NAVBAR */

.navbar {
    position: fixed;
    margin-bottom: 0;
    width: 100vw;
    background-color: #1E1E24;
    border: 0;
    z-index: 100;
    opacity: 0.9;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

.navbar-links {
    color: #FFF8F0;
    text-decoration: none;
    text-align: left;
}

.navbar-links:hover {
    color: #92140C;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}

/*-----------------------HOME */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/289367/pexels-photo-289367.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-header {
    font-size: 5rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.animated-button {
    border: none;
    background-color: #92140C;
    color: #FFF8F0 !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.animated-button:hover {
    color: #92140C !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

/*-----------------------STORIES */
/* Code learnt from w3schools.com & tutorials with changes made by myself */

.stories-row {
  display: flex;
}

.stories-column {
  flex: 33.33%;
  padding: 5px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.stories-column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.stories-row::after {
  content: "";
  clear: both;
  display: table;
}

.stories-container {
    padding: 20px 25px;
}

.story-image {
    border: 25px solid transparent;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.story-hover:hover {
    background-color: #92140C;
    transition: background-color 0.8s ease-in-out;
    -moz-transition: background-color 0.8s ease-in-out;
    -webkit-transition: background-color 0.8s ease-in-out;
    -o-transition: background-color 0.8s ease-in-out;
}

/*-----------------------FOOTER */

footer {
    min-height: 60px;
    margin: 0;
    background-color: #1E1E24;
    color: #FFF8F0;
    z-index: 100;
    opacity: 1;
}

#footer-info {
    padding: 20px;
    text-align: left;
}

.icon-border a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 30%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #92140C;
}

.icon-border i:hover {
    background: #FFF8F0;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
} 

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
