{% extends "base.html" %} 
{% set active_page = "add_story" %} 
{% block content %} 
    <div class="section-container form-container text-center">
        <div style="text-align:center">
            <h1 class="section-title">Submit Story</h1>
        </div>
        <div class="row">
            <div class="column col-12 col-xl-6">
                <img class="story-image" src="https://images.pexels.com/photos/194917/pexels-photo-194917.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
            </div>
            <div class="column col-12 col-xl-6">
                <form action="{{url_for('insert_story')}}" method="POST">
                    <label for="story_name">Story Name</label>
                    <input id="story_name" name="story_name" placeholder="Story Name" type="text" class="validate rounded" style="text-transform: capitalize;" required>
                    <label for="submitted_by">Author</label>
                    <input id="submitted_by" name="submitted_by" placeholder="Author" type="text" class="validate" style="text-transform: capitalize;" required>
                    <label for="story_image">Story Image Link</label>
                    <input id="story_image" name="story_image" placeholder="Story image link" type="text" class="validate rounded" pattern="https?://.+" required>
                    <label>Category Select</label>
                    <select id="category" name="category" required>
                    <option class="category-select rounded" value="" disabled selected>Choose your category</option>
                    {% for cat in categories %}
                        <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endfor %}
                    </select>
                    <label for="story_text">Your Story</label>
                    <textarea name="story_text" id="story_text" rows="8" class="materialize-textarea rounded" onkeyup="adjustHeight(this)" style="text-transform: capitalize;" 
                        placeholder="Insert your story here..." required></textarea>
                    <input class="button_cont animated-button text-center" type="submit" value="Submit Story">
                </form>
            </div>
        </div>
    </div>
{% endblock %}