<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Joe Sudron">
	<meta name="description" content="Lights Out, where we want to hear the creepy stories which have happened to you. Share your real-life experiences with us, the more eerie the better!">

	<!--Bootstrap & CSS stylesheet links-->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

	<title>LIGHTS OUT!</title>
</head>

<body>

    <!--NAVBAR-->
    <!--Navbar code from mdbootstrap.com & tutorials with changes to the features made by myself in html & css-->
    <header>
        <nav class="navbar navbar-fixed-top">
            <a class="nav-brand navbar-links" href="{{url_for('home')}}">Lights Out!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Hamburger menu"><span class="hamburger-menu">
            <i class="fa fa-bars navbar-links"></i></span></button>
            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link navbar-links" href="{{url_for('home')}}">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link navbar-links" href="{{url_for('get_stories')}}">Stories</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link navbar-links" href="{{url_for('add_story')}}">Add Story</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
{% block content %}
{% endblock %}

    <!--FOOTER-->
	<!--Taken from tutorial project from Code Institue lessons-->

	<footer class="container-fluid">
		<div class="footer-section row" id="footer-info">
			<div class="col-md-6">
				<h5 class="uppercase footer-header header">Lights Out!</h5>
				<p class="inline-block footer-text">Copyright Joe Sudron 2020.</p>
			</div>
			<div class="col-md-6">
				<h5 class="uppercase footer-header" id="social-media">Follow us on Social Media</h5>
				<ul class="list-inline social-links icon-border">
					<li class="list-inline-item">
						<a target="_blank" href="https://www.facebook.com/JoeSudronYeah">
							<i class="fa fa-facebook" aria-hidden="true"></i>
							<span class="sr-only">Facebook</span>
						</a>
					</li>
					<li class="list-inline-item">
						<a target="_blank" href="https://www.instagram.com/joesudron83/">
							<i class="fa fa-instagram" aria-hidden="true"></i>
							<span class="sr-only">Instagram</span>
						</a>
					</li>
					<li class="list-inline-item">
						<a target="_blank" href="https://www.linkedin.com/in/joe-sudron">
							<i class="fa fa-linkedin" aria-hidden="true"></i>
							<span class="sr-only">LinkedIn</span>
						</a>
					</li>
					<li class="list-inline-item">
						<a target="_blank" href="https://github.com/JSudron">
							<i class="fa fa-github" aria-hidden="true"></i>
							<span class="sr-only">GitHub</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>


<!--JAVASCRIPT-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script rel="stylesheet" src="{{url_for('static', filename='js/menu.js')}}"></script>

</body>

</html>
