{% extends 'base.html' %}
{% set active_page = "home" %}
{% block content %}

    <div class="hero-image">
        <div class="hero-text">
            <h1 class="header hero-header">Welcome to Lights Out!</h1>
            <p>Where we want to hear the creepy stories which have happened to you. Share your real-life experiences with us, the more eerie the better!</p>
            <div class="button_cont" align="center"><a class="animated-button" href="{{url_for('get_stories')}}" target="_blank" rel="nofollow noopener">Enter!</a></div>
        </div>
    </div>

{% endblock %}