{% extends 'base.html' %}
{% set active_page = "selected_story" %}
{% block content %}
    <div class="section-container text-center">
        <div>
            <h2 class="section-title">{{story.story_name}}</h2>
                <p>Category: {{story.category}}</p>
                <p>By: {{story.submitted_by}}</p>
        </div>
        <div class="row">
            <div class="column col-12 col-xl-6">
            <img class="story-image" src="{{story.story_image}}">
            </div>
            <div class="column col-12 col-xl-6">
                <p>{{story.story_text}}</p>
            </div>
        </div>
    </div>
    <div class="row buttons">
        <a class="animated-button" href="{{ url_for('get_stories')}}" rel="nofollow noopener">Back</a>
        <a class="animated-button" href="{{url_for('edit_stories', stories_id=story._id)}}" rel="nofollow noopener">Edit/Delete</a>
    </div>
{% endblock %}

